

.jumbotron {
    background-image: url('https://img.freepik.com/premium-photo/technology-abstract-bioinformatics-data-technology-abstract-background_1245058-4787.jpg');
    background-size: 100% 100%;
    text-align: center;
}

.body {
    color:rgb(144, 231, 247);
    background-color:rgb(247, 214, 165);
}


#selDataset {
    padding: 6px;
    border: 2px solid rgb(150, 226, 240);
    background-color:  rgb(255, 251, 226);
    text-align:inherit;
}

      
      


